*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.AppContainer{
    min-height: 100vh;
    background-color:#b8bced;
    display: flex;
    flex-direction: row;

}
.App{
    display: grid;
    flex: 3;
}
.leftPart{
    flex: 2;
}